{% extends 'base.html.twig' %}

{% block title %}New Aanmelding{% endblock %}

{% block body %}
    <h1>Create new Aanmelding</h1>

    {{ include('aanmelding/_form.html.twig') }}

    <a href="{{ path('aanmelding_index') }}">back to list</a>
{% endblock %}
