{% extends 'base.html.twig' %}

{% block title %}Aanmelding{% endblock %}

{% block body %}
    <h1>Aanmelding</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aanmelding.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('aanmelding_index') }}">back to list</a>

    <a href="{{ path('aanmelding_edit', {'id': aanmelding.id}) }}">edit</a>

    {{ include('aanmelding/_delete_form.html.twig') }}
{% endblock %}
